
---
import Layout from '../layouts/Layout.astro';
import Navigation from "../components/Navigation.astro"
import MyVueComponent from '../components/MyVueComponent.vue';
---

<Layout title="About Us.">

<h1>About Us</h1>

<h2>Use Vue Components directly in Astro!</h2>
<MyVueComponent />

<Navigation nav1='Home' nav2='About' nav3='Blog'/>

</Layout>


<style>
  h1,h2 {
      margin-top: 50px;
  }
</style>
