
---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us.">

<h1>About Us</h1>

<a href="/">Go back to Home Page</a>

</Layout>


<style>
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }

  a {
    display: block;
    width:200px;
		margin: 20px auto 0;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
